.dashboardContainer{
    width:100vw;
    height: 100vh;
    max-width: 1600px;
}

.main{
    width: 100%;
    display: flex;
}

.solution{
    width: 75%;
    /* border:1px solid black; */
    overflow-y: scroll;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    color: blue;
    font-weight: 600;
}

.solution::-webkit-scrollbar{
    display:none;
}